
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
}

.div1 {
    margin-top: 2%;
    margin-left: 1%;
    width: 12%;
    float: left;
    height: 68px;
}

.div2 {
    width: 75%;
    float: right;
    margin-top: 2%;
    display: flexbox;
    text-justify: inter-cluster;
    text-align: center;
}

.Link {
    font-size: 22px; 
    font-weight: 100;
    text-space-collapse: collapse;
    text-decoration: none;
}

.img {
    float: left;
    margin-left: 0;
}

.P {
    float: right;
    margin-top: 1%;
    margin-right: 12%;
    width: 503px;
}

p {
    font-size: 22px;
}


/*About Page Edit */

.img1 {
    margin-top: 2%;
    float: left;
    width: 537px;
    margin-left: 5%;
}

.p1 {
    float: right;
    margin-right: 15%;
    margin-top: 1%;
}

.p2 {
    font-size: 20px;
}
.p3 {
    font-size: 20px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top:1%;
    margin-bottom: 2%;
    width: 1367px;
}
h {
    margin-left:30%;
    height: 73px;
    margin-top:10%;
}
.pa1 {
    float: left;
    margin-left: 15%;
    width: 498px;
    height: 458px;
}
.pa2 {
    float: right;
    margin-right: 12%;
    width: 545px;
}
.hb1 {
        float: left;
    margin-left: 7%;
    width: 605px;
    height: 473px;
}
.hb2 {
    float: right;
    margin-right: 10%;
    width: 614px;
    height: 260px;
}

.pa3 {
    margin-bottom: 0%;
}


.contact {
    margin-top: 3%;
    width: 98%;
    height: 141px;
}
.con {
    float:left;
    margin-top: 0;
}

.inf {
    float:right;
    margin-right: 30%;
}

.btn {
    display: inline-block;
    background-color: #0094ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #0ff;
}

.foot {
    margin-top: 20%;
}

.lbtn {
    margin-top: 1%;
    float: left;
    margin-left: 15%;
}

.lbtn1 {
    margin-top: 1%;
    float:right;
    margin-right: 60%;
    width: 127px;
}

.flink {
    font-weight: 100;
    text-space-collapse: collapse;
    text-decoration: none;
}


/* Footer Edit */

footer {
    margin-top: 20%;
    position: relative;
    width: 100%;
    height: 250px;
    padding: 50px 100px;
background-image: url('Image/IMG_20241208_183927.jpg');}

    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

        footer .container .sec h2 {
            position: relative;
            color: white;
            font-weight: 600;
            margin-bottom: 15px;
        }

        footer .container .sec p {
            color: white;
        }

        footer .container .sci {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(4,50px);
        }

            footer .container .sci li {
                list-style: none;
            }

                footer .container .sci li a {
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    display: grid;
                    aling-content: center;
                    justify-content: center;
                    text-decoration: none;
                }

 footer .container .sci li a i 
 {
      color: white;
      font-size: 20px;
 }

        footer .container .q 
        {
            position: relative;
        }

            footer .container .q ul li {
                list-style:none;
            }

                footer .container .q ul li a {
                    color: white;
                    text-decoration: none;
                    margin-bottom: 10px;
                    display: inline-block;
                }

    footer .con .info {
        position:relative;
    }

        footer .con .info li {
            display: grid; 
            grid-template-columns: 30px 1fr;
            margin-bottom: 16px;
        }

            footer .con .info li span {
                color: white;
                font-size: 20px;
            }

            footer .con .info li a {
                color: white;
                text-decoration: none;
            }

.c {
    width: 100%;
    background: url('Image/IMG_20241208_183927.jpg');
    padding: 20px 100px 30px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
}